.gitignore
*.sqlite3
__pycache__/*.pyc
__pycache__/
env.py
#static/
#media/

media/.DS_Store
static/.DS_Store
static/font-awesome/.DS_Store
templates/.DS_Store
.DS_Store
__pycache__/env.cpython-37.pyc
